.auth_form{
    padding: 40px;
    border-radius: 5px;
}


.form_group input{
    border: none;
    border-bottom: 1px solid lightgray;
}

.auth_form p{
    margin-top: 30px;

}

h3{
    margin: 40px;
}